@model IEnumerable<siyandaStudyGroup.Models.StudentModel>


@{
    ViewBag.Title = "List of Students";
}

<h2>List of students</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.StudentNumber) </th>
        <th>@Html.DisplayNameFor(model => model.Name) </th>
        <th>@Html.DisplayNameFor(model => model.Surname) </th>
        <th>@Html.DisplayNameFor(model => model.EmailAddress) </th>
        <th>@Html.DisplayNameFor(model => model.myLink) </th>
    </tr>
    @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.StudentNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                    <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
                    <td>
                        <a href="@Url.Content(item.myLink)" class="btn btn-primary" target="_">Link</a>
                    </td>
                </tr>
            }

</table>

